<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="icon" type="image/x-icon" href="\pictures\icons8-galaxy-96.png">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="justify-content: space-around;">
    <div class="container" >
      <a class="navbar-brand" href="/">Space Explorar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/about">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/NASA-APOD">Daily News</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/iss-location">About ISS</a></li>
              <li><a class="dropdown-item" href="/space-reports">ISS Reports</a></li>
              <li><a class="dropdown-item" href="/ISRO-info">About ISRO</a></li>
              <li><a class="dropdown-item" href="/spacex-info">About SpaceX</a></li>
              <li><a class="dropdown-item" href="/mars-rover">Mars Rover</a></li>
              <li><a class="dropdown-item" href="/space-articles">Space Articles</a></li>
              <li><a class="dropdown-item" href="/space-blogs">Space Blogs</a></li>
              <li><a class="dropdown-item" href="/solar-system">Solar System</a></li>
              <li><a class="dropdown-item" href="/moons">Today's Moon</a></li>
              <li><a href="/celestial" class="dropdown-item">Star Constellations</a></li>
              <li><a class="dropdown-item" href="/next-launch">Upcoming Launches</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/quiz">Test Your Knowledge</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/space-news">Sources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
    <div class="form-area">
        <div class="container">
            <div class="row single-form g-0">
                <div class="col-sm-12 col-lg-6">
                    <div class="left">
                        <h2><span>Contact us For</span> <br>Doubts & Queries</h2>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="right">
                        <i class="fa fa-caret-left"></i>
                        <form action="/sendmail" method="post">
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Your Name</label>
                              <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Email Address</label>
                              <input type="email" name="mail" class="form-control" id="exampleInputPassword1">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Message</label>
                                <textarea name="query" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea> 
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                          <div class="last_row">
                            <div class="row row-cols-1 row-cols-md-3 p-3">
                                <div class="col">
                                    <h4>Member-1</h4>
                                    <p>KOMMAREDDY LIKITH KRISHNASAI</p>
                                    <p>Mobile No: 9133445152 </p>
                                </div>
                                <div class="col">
                                    <h4>Member-2</h4>
                                    <p>USIRIKAYALA LIKHITH</p>
                                    <p>Mobile No: 9374501330 </p>
                                </div>
                                <div class="col">
                                    <h4>Member-3</h4>
                                    <p>VUDDAGIRI NAGA VENKATA SAI KRISHNA
                                        DHEERAJ</p>
                                    <p>Mobile No: 9392899382 </p>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>