<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information from ISRO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/isro.css">
    <link rel="icon" type="image/x-icon" href="\pictures\icons8-galaxy-96.png">
</head>
<body style="background-image:url('pictures/table1.jpg');">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="justify-content: space-around;">
    <div class="container" >
      <a class="navbar-brand" href="/">Space Explorar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/about">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/NASA-APOD">Daily News</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/iss-location">About ISS</a></li>
              <li><a class="dropdown-item" href="/space-reports">ISS Reports</a></li>
              <li><a class="dropdown-item" href="/ISRO-info">About ISRO</a></li>
              <li><a class="dropdown-item" href="/spacex-info">About SpaceX</a></li>
              <li><a class="dropdown-item" href="/mars-rover">Mars Rover</a></li>
              <li><a class="dropdown-item" href="/space-articles">Space Articles</a></li>
              <li><a class="dropdown-item" href="/space-blogs">Space Blogs</a></li>
              <li><a class="dropdown-item" href="/solar-system">Solar System</a></li>
              <li><a class="dropdown-item" href="/moons">Today's Moon</a></li>
              <li><a href="/celestial" class="dropdown-item">Star Constellations</a></li>
              <li><a class="dropdown-item" href="/next-launch">Upcoming Launches</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/quiz">Test Your Knowledge</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
      <br>
      <br>
      <br>
      <div>
      <header>
        <h1><a style="color: bisque;" href="https://www.isro.gov.in/">Indian Space Research Organisation (ISRO)</a></h1>
    </header>
   
    <section style="padding-left: 10px;">
        <h2>About ISRO:</h2>
        <p style="font-size: large; padding-left: 50px;">The Indian Space Research Organisation (ISRO) is the space agency of the Government of India and is headquartered
            in Bengaluru, Karnataka, India. ISRO was founded in August 15,1969 and has since become a leading space agency,
            renowned for its space exploration and satellite launch missions.</p>
        <p style="font-size: large; padding-left: 50px;"> ISRO's primary objective is to harness space technology for national development while pursuing space science research and planetary exploration.
             The organization has made significant strides in satellite technology, remote sensing, and space exploration.</p>
            <h2 style="font-size: x-large;">Rockets</h2>
            <p style="font-size: large; padding-left: 50px;">ISRO's rockets are not just mechanical marvels; they are arrows into the heavens, carrying with them the aspirations of a nation. The Polar Satellite Launch Vehicle (PSLV) and the Geosynchronous Satellite Launch Vehicle (GSLV) series are not just acronyms; they are the lifelines connecting us to the cosmos.</p>
            <p style="font-size: large; padding-left: 50px;">ISRO's rocket fleet exemplifies India's prowess in space technology. The Polar Satellite Launch Vehicle (PSLV) stands out for its versatility, successfully deploying satellites into various orbits. The Geosynchronous Satellite Launch Vehicle (GSLV) series ensures heavy payload capabilities, while the Geosynchronous Satellite Launch Vehicle Mark III (GSLV Mk III), India's heaviest and most powerful launcher, supports ambitious missions like Chandrayaan and Gaganyaan. ISRO's rockets symbolize technological triumphs, propelling India into the forefront of the global space exploration landscape.</p>
    </section>
<div id="main">
    <h2>Information Retrieved From ISRO:</h2>
    <p style="padding-left:60px; font-size: large;">  The Indian Space Research Organisation (ISRO) has deployed an impressive fleet of spacecraft, showcasing India's prowess in space exploration. Notable among these is Mangalyaan, India's Mars Orbiter Mission, which achieved global acclaim for being the first successful interplanetary mission on its maiden attempt.
         Chandrayaan-1, India's lunar probe, made historic strides by discovering water molecules on the Moon's surface.
         Additionally, the Astrosat, India's first dedicated space observatory, has been instrumental in advancing our understanding of celestial phenomena. 
         ISRO's Polar Satellite Launch Vehicle (PSLV) and Geosynchronous Satellite Launch Vehicle (GSLV) series continue to lift off, carrying satellites that contribute to Earth observation, communication, and scientific research, establishing India as a significant player in the realm of space technology.    </p>
    <h2>ISRO SpaceCrafts Data     :    </h2>
    <p style="padding-left:60px; font-size: large;">ISRO, the trailblazing space agency of India, has etched its mark in the cosmos through a myriad of awe-inspiring launches. Renowned for its precision and innovation, ISRO holds records for deploying a multitude of satellites in a single mission, showcasing a mastery of satellite launch technologies. The Polar Satellite Launch Vehicle (PSLV) and Geosynchronous Satellite Launch Vehicle (GSLV) series stand as exemplars of engineering excellence, enabling India to emerge as a reliable global launch service provider. From the historic Chandrayaan-1 mission to the triumphant Mars Orbiter Mission (Mangalyaan), ISRO's launches span the lunar, interplanetary, and Earth observation domains. Continuously pushing boundaries, ISRO's launches are not just technological feats; they are beacons of India's commitment to space exploration and its endeavor to unlock the secrets of the universe.</p>
   <div id="button"><button> <a href="http://localhost:3000/ISRO-stats-sc" target="_self">TO KNOW MORE </a></button></div>
    <h2>ISRO Launches Data        : </h2>
    <p style="padding-left:60px; font-size: large;">Indian Space Research Organisation (ISRO) has been at the forefront of providing cutting-edge satellite services to its global clientele. Renowned for its reliability and cost-effectiveness, ISRO's commercial arm, Antrix Corporation, facilitates the launch of customer satellites. Tailored to diverse needs, these satellites span communication, Earth observation, and scientific research. ISRO's Polar Satellite Launch Vehicle (PSLV) and Geosynchronous Satellite Launch Vehicle (GSLV) have been instrumental in deploying customer satellites with precision. The organization's commitment to ensuring a seamless satellite launch experience has positioned it as a preferred choice for countries and private entities seeking to establish a presence in space. Through international partnerships, ISRO continues to expand its global footprint, fostering collaboration in space exploration and satellite technology.
    </p>
    <div id="button"><button> <a style="text-decoration: underline;" href="http://localhost:3000/ISRO-stats-l" target="_self">TO KNOW MORE </a></button></div>
    
    <h2>Customer Satellites Launched are :  </h2>
    <p style="padding-left:60px; font-size: large;">The Indian Space Research Organisation (ISRO) boasts a network of strategically located centers across India, each playing a pivotal role in advancing the nation's space capabilities. The Space Research Centers include the Space Applications Centre (SAC) in Ahmedabad, focusing on satellite technology and applications, and the U R Rao Satellite Centre (URSC) in Bengaluru, a hub for satellite design and development. The Liquid Propulsion Systems Centre (LPSC) in Thiruvananthapuram is dedicated to liquid propulsion systems, while the Vikram Sarabhai Space Centre (VSSC) in Thiruvananthapuram is a key player in launch vehicle development. ISRO's primary launch site, the Satish Dhawan Space Centre (SDSC), is situated on Sriharikota Island, facilitating satellite launches. Additionally, the ISRO Propulsion Complex (IPRC) in Tamil Nadu focuses on liquid propulsion components. These centers collectively underscore India's commitment to space exploration, satellite technology, and propulsion systems, driving ISRO's success in the global space arena.
    </p>
    <div id="button"><button> <a href="http://localhost:3000/ISRO-customer-satellites" target="_self">TO KNOW MORE </a></button></div>
    <h2>ISRO Center in India:      </h2>
    <p style="padding-left:60px; font-size: large;"> ISRO's launches are not just scientific endeavors; they are chapters in a story of human ambition, teamwork, and the relentless pursuit of the unknown. As we witness these rockets pierce the heavens, let us remember that we are not just launching satellites; we are launching dreams, aspirations, and the very essence of human curiosity into the cosmic tapestry.</p>
    <div id="button"><button> <a href="http://localhost:3000/ISRO-data" target="_self">TO KNOW MORE </a></button></div>
    <br>
    <br>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
