<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
    <body style="background-image:url('pictures/bckgd.jpg');">
        <div class="navbar">
          <div class="links" >
              <a href="home" id="home">Home</a>
              <a href="about" id="about">About</a>
              <a href="services" id="service">Services</a>
              <a href="contact" id=contact>Contact</a>
          </div>
      </div>
    <h1 style="color: wheat;">ISRO centres :</h1>
    <table style="background-image:url('pictures/table4.jpeg');">
        <tr id="table" style="background-color: aqua;">
        <th>Name of Centre</th>
        <th>Place</th>
        <th>State</th>
        </tr>
        <% for(var i=0; i<data2.centres.length; i++) { %>
                <tr>
                <td><%= data2.centres[i].name %></td>
                <td> <%= data2.centres[i].Place %></td>
                <td> <%= data2.centres[i].State %> </td>
                </tr>
            <% } %>
    </table>
</body>
</html>