<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information from ISRO</title>
    <link rel="stylesheet" href="css/isro.css">
</head>
<body style="background-image:url('pictures/wallp5.jpg');">
    
    
    <h1>Information Retrieved From ISRO:</h1>
    <h2>ISRO SpaceCrafts Data     :     <a href="http://localhost:3000/ISRO-stats-sc" target="_self">CHECK DATA</a></h2>
    <h2>ISRO Launches Data        :  <a href="http://localhost:3000/ISRO-stats-l" target="_self">CHECK DATA</a></h2>
    <h2>Customer Satellites Launched are :   <a href="http://localhost:3000/ISRO-customer-satellites" target="_self">CHECK DATA</a></h2>
    <h2>ISRO Center in India:       <a href="http://localhost:3000/ISRO-data" target="_self">CHECK DATA</a></h2>
</body>
</html>