<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/moon.css">
</head>
<body style="background-image: url('pictures/moon (1).jpg');">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="justify-content: space-around;">
    <div class="container" >
      <a class="navbar-brand" href="/">Space Explorar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/about">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/NASA-APOD">Daily News</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/iss-location">About ISS</a></li>
              <li><a class="dropdown-item" href="/space-reports">ISS Reports</a></li>
              <li><a class="dropdown-item" href="/ISRO-info">About ISRO</a></li>
              <li><a class="dropdown-item" href="/spacex-info">About SpaceX</a></li>
              <li><a class="dropdown-item" href="/mars-rover">Mars Rover</a></li>
              <li><a class="dropdown-item" href="/space-articles">Space Articles</a></li>
              <li><a class="dropdown-item" href="/space-blogs">Space Blogs</a></li>
              <li><a class="dropdown-item" href="/mars-weather">Mars Weather</a></li>
              <li><a class="dropdown-item" href="/solar-system">Solar System</a></li>
              <li><a class="dropdown-item" href="/moons">Today's Moon</a></li>
              <li><a class="dropdown-item" href="/next-launch">Upcoming Launches</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/quiz">Test Your Knowledge</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
      <br>
      <br>
      <br>
       <div id="total">
    <div id="contain_moon" style="text-align:center;padding-top:7px;padding-bottom:7px;font-size:23px">
        <div id="heading" >The moon today</div>
        <div style="margin-top:-9px;margin-bottom:-19px;padding:39px;filter:drop-shadow(0 0 39px hsl(191,100%,29%))">
        </div>
        <br>
        <br>
        <div>.</div>
        <br>
        <div style="font-size:small">.</div>
    </div>
</div>
<br>
<br>
<br>
<br>

 
  <p style="color:black; font-size: large;">The moon, Earth's only natural satellite, has captivated human imagination for centuries. Shrouded in mystery and bathed in silvery luminescence, it orbits our planet with a gentle grace, influencing tides and inspiring poets and dreamers alike. Its surface, scarred by craters and marked with vast plains, tells a story of cosmic collisions and ancient volcanic activity. The moon's phases, from crescent to full, are a celestial dance that has guided calendars and rituals throughout history.

    Beyond its aesthetic allure, the moon has played a crucial role in scientific exploration. Human footsteps left indelible marks during the Apollo missions, marking an extraordinary chapter in space exploration. Today, the moon remains a focal point for astronomers, offering a platform for observing distant galaxies and studying the cosmos. As a symbol of both natural beauty and scientific wonder, the moon continues to inspire wonder and curiosity in people around the globe.</p>

    <script>
    (function(){
        var d=new Date().getDate();
        var m=document.querySelectorAll("#contain_moon div");
        var a=new XMLHttpRequest();
        var url="https://www.icalendar37.net/lunar/api/?lang=en&month="+(new Date().getMonth()+1)+"&year="+(new Date().getFullYear())+"&size=130&lightColor=rgb(252,254,216)&shadeColor=rgb(1,19,33)&LDZ="+new Date(new Date().getFullYear(),new Date().getMonth(),1)/1000+"";
        m[1].style.height="130px";
        a.onreadystatechange=function(){
            if(a.readyState==4&&a.status==200){
                var b=JSON.parse(a.responseText);
                m[1].innerHTML=b.phase[d].svg;
                if(typeof moon_widget_loaded=="function")moon_widget_loaded(b);
                m[2].innerHTML=b.phase[d].npWidget;
                m[3].innerHTML="Next full moon<br>"+b.nextFullMoon}};
                a.open("GET",url,true);
                a.send()})()
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>