<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spacex</title>
    <link rel="stylesheet" href="css/spacex.css">
</head>
<body style="background-image: url('pictures/space1.png');" style="background-size: cover;">
    
    <div class="navbar" style="border-radius: 0%;">
        <div class="links">
            <a href="home" id="home">Home</a>
                <a href="about" id="about">About</a>
                <a href="services" id="service">Services</a>
                <a href="contact" id=contact>Contact</a>
        </div>
       </div>
       <br>
  <div style="color: aliceblue; font-size: x-large;">
    <h1 style="margin-left: 5%;">Data from SpaceX:</h1>
    <h2>SpaceX History :<a href="http://localhost:3000/spacex-history" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Rockets :<a href="http://localhost:3000/spacex-rockets" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Starlink launched :<a href="http://localhost:3000/spacex-starlink" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Ships :<a href="http://localhost:3000/spacex-ships" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>Crew Members :<a href="http://localhost:3000/spacex-crew" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Landpads :<a href="http://localhost:3000/spacex-landpads" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Launchpads :<a href="http://localhost:3000/spacex-launchpads" target="_self"><i>CLICK HERE</i></a></h2>
</div>
</div>
</body>
</html>
