<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>
<body>
    
    <h1>Source websites are :</h1>
    <% for(var i=0; i<data1.news_sites.length; i++) { %>
        <p> <%= data1.news_sites[i] %></p>
    <% } %>
    
</body>
</html>