<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information from ISRO</title>
    <link rel="stylesheet" href="css/isro.css">
</head>
<body>
    <video autoplay loop muted plays-inline class="background-clip">
        <source src="video/bckgd1.mp4" type="video/mp4">
    </video>
    <h1>Data from SpaceX:</h1>
    <h2>SpaceX History :<a href="http://localhost:3000/spacex-history" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Rockets :<a href="http://localhost:3000/spacex-rockets" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Starlink launched :<a href="http://localhost:3000/spacex-starlink" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Ships :<a href="http://localhost:3000/spacex-ships" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>Crew Members :<a href="http://localhost:3000/spacex-crew" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Landpads :<a href="http://localhost:3000/spacex-landpads" target="_self"><i>CLICK HERE</i></a></h2>
    <h2>SpaceX Launchpads :<a href="http://localhost:3000/spacex-launchpads" target="_self"><i>CLICK HERE</i></a></h2>
</body>
</html>