
body{
  background-size: cover;
}
#heading{
  color: rgb(174, 63, 63);
  font-size: xx-large;
}
#matter{
  margin-left: 6%;
  font-size: xx-large;
}.nav-link{
  color: white;
}.navbar-brand{
  color: white;
}


  