
body{
  background-size: cover;
}
#heading{
  font-weight:bold;
  font-size:xx-large;
  margin-top: 12%;
}
#total{
  margin-left: 22%;
}.nav-link{
  color: white;
}.navbar-brand{
  color: white;
}