
body{
  background-size: cover;
  background-position: center;
}
#heading{
  font-weight:bold;
  font-size:xx-large;
  margin-top: 12%;
}
#total{
  margin-left: -25vw;
  margin-top:-10vh ;
}
.nav-link{
  color: white;
}.navbar-brand{
  color: white;
}