#img{
    margin-left: 25%;
}
body{
    background-color: black;
}
#body,p{
    color: aliceblue;
}
#topic{
 color: aliceblue;
 background-color:black;
}.nav-link{
    color: white;
}.navbar-brand{
    color: white;
}



