*{
    box-sizing:border-box;
    font-family:'Poppins';
}
body{
    background-position: center;
    background-size: cover;
}

h1{
    font-size: x-large;
    text-align: center;
}
#location{
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
    color: rgb(0, 0, 0);

}
#members{
    font-size: x-large;
    color: rgb(0, 0, 0);
}

#total{
text-align: center;
}

#first #craft{
    font-size: large;
}
#two #centre{
    font-size: large;
}.nav-link{
    color: white;
}.navbar-brand{
    color: white;
}
