body{
  background-position: center;
  background-size: cover;
}
#clicks a{
 justify-content: space-between;
}

#border{
    border: 2px solid rgb(242, 237, 237);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#main{
    font-size: xx-large;

}.nav-link{
  color: white;
}.navbar-brand{
  color: white;
}  
  #heading{
   text-align: center;
   color: azure;
  }
  #title{
    font-size: x-large;
    margin-left: 1%;
  }
  #event{
    font-size: x-large;
    margin-left: 1%;
  }
#details{
    font-size: x-large;
    margin-left: 1%;
  }
  #img{
    margin-left: 2%;
  }
  #summary{
    margin-left: 1%;
    color: azure;
    font-size: x-large;
  }
  #main{
    margin-left: 3%;
  }
#prev{
  margin-left: 5%;
}
#next{
  margin-left: 93%;
  
}

