body{
  background-size: cover;
  background-position: center;
}

#border{
    border: 2px solid black;
}
#main{
    font-size: xx-large;
    margin-left: 45%;

}.nav-link{
  color: white;
}.navbar-brand{
  color: white;
}
.grid-container1 {
  columns: 2 600px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
  font-size: x-large;
}
.grid-container {
    columns: 3 400px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
  }

  .grid-container div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }

  .grid-container div:hover img {
    filter: grayscale(0);
  }

  .grid-container div:hover {
    border-color: coral;
  }

  .grid-container div img {
    width: 100%;
    /* filter: grayscale(100%); */
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }

  .grid-container div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
  }
  #heading{
    margin-left:40%;
  }
  #title{
    font-size: x-large;
    margin-left: 1%;
  }
  #event{
    font-size: x-large;
    margin-left: 1%;
  }
#details{
    font-size: x-large;
    margin-left: 1%;
  }
  #img{
    margin-left: 30%;
  }
  #shipname{
    margin-left: 40%;
    font-size: xx-large;
  }
#prev{
  margin-left: 5%;
}
#next{
  margin-left: 93%;
  
}

