table{
    width: 80vw;
    margin-left: 3%;
}
#heading{
    text-align: center;
}
table,td,th{
    border: 1px solid black;
}
table{
    table-layout: fixed;
    width: 90vw;
    border-collapse:collapse;
    border:3px solid purple;
}
thead th:nth-child(1){
    width:30vw;
}
thead th:nth-child(2){
    width:20vw;
}
thead th:nth-child(3){
    width:5vw;
}
thead th:nth-child(4){
    width:35vw;
}
th,td{
    padding: 20px;
}
.nav-link{
    color: white;
}.navbar-brand{
    color: white;
}
table tr th{
  font-size: 1.3vw;
}
table tr td{
    font-size: 1.3vw;
}
