table{
    width: 80%;
    margin-left: 3%;
}
table,td,th{
    border: 1px solid black;
}
table{
    table-layout: fixed;
    width: 90%;
    border-collapse:collapse;
    border:3px solid purple;
}
thead th:nth-child(1){
    width:30%;
}
thead th:nth-child(2){
    width:20%;
}
thead th:nth-child(3){
    width:5%;
}
thead th:nth-child(4){
    width:35%;
}
th,td{
    padding: 20px;
}
.nav-link{
    color: white;
}.navbar-brand{
    color: white;
}
